﻿@using App
@using MSharp.Framework

<div class="navbar" role="navigation">
    <ul class="nav nav-pills nav-stacked">
        @using (var link = Link.To("Default", "SideItem1", "PagesAndMenus/SubItem1"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Side Item 1</a>
            </li>
        }
        @using (var link = Link.To("Default", "SideItem2", "PagesAndMenus/SubItem1"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Side Item 2</a>
            </li>
        }
        @using (var link = Link.To("Default", "SideItem3", "PagesAndMenus/SubItem1"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Side Item 3</a>
            </li>
        }
    </ul>
</div>