﻿@model TertiaryRecord
@using App
@using System
@using System.ComponentModel
@using Microsoft.Data.Entity.Metadata
@using MSharp.Framework.AspNet.Mvc
@Module.Init(this)

<div id="@Module.Id" data-module="@Module.Name" asp-role="form-wrapper module-container">
    <form asp-role="module-form" asp-anti-forgery="false" class="form-horizontal">
        <div class="form-group">
            <label asp-for="Title" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Title" type="text" class="form-control" placeholder="Title" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Date" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <input asp-for="Date" asp-format="{0:yyyy-MM-dd}" type="date" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsActive" class="col-sm-2 control-label"></label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.IsActive</p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" title="Save item" asp-command="SaveItem" asp-command-ref="@Model.ID">
                    Save <i class="fa fa-check"></i>
                </button>
            </div>
        </div>

        @Component.Invoke("ModuleState", this, Module)
    </form>
</div>