﻿@model ListsViewModel<TertiaryRecord>
@using App
@using System
@using System.Linq
@using System.ComponentModel
@using Microsoft.Data.Entity.Metadata
@using MSharp.Framework.AspNet.Mvc
@Module.Init(this)

<div id="@Module.Id" data-module="@Module.Name" asp-role="module-container">
    <form asp-role="module-form" asp-anti-forgery="false">
        <div asp-role="grid-wrapper">
            <table asp-role="grid">
                <thead>
                    <tr>
                        <th>
                            <button type="submit" class="btn btn-sm" asp-command="Sort" asp-command-args="TextField">
                                <strong>Title</strong>
                            </button>
                        </th>
                        <th>
                            @*@ColumnHeader("Date", "DateField")*@
                            <button type="submit" class="btn btn-sm" asp-command="Sort" asp-command-args="DateField">
                                <strong>Date</strong>
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </button>
                        </th>
                        <th>IsActive</th>
                        <th>Editor</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var o in Model.WithIndex())
                    {
                        <tr>
                            <td>
                                @o.Item.Title
                            </td>
                            <td>
                                @o.Item.Date.ToShortDateString()
                            </td>
                            <td>
                                @o.Item.IsActive
                            </td>
                            <td>
                                @Html.TextBoxFor(m => m.Items[o.Index].Title)
                            </td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-sm" title="Delete item" asp-command="DeleteRowItem" asp-command-ref="@o.Item.ID">
                                    <i class="fa fa-minus-circle"></i>
                                </button>
                                @*
                                    @Html.TextBoxFor(m => new App.ModuleState().Command.RowIndex)
                                    @Html.TextBoxFor(m => new App.ModuleState().___Commands[@o.Index].Args)
                                    @Html.TextBoxFor(m => new App.ModuleState().___Commands[o.Item.Id].Args)
                                    @Html.HiddenFor(m => m.Items[o.Index].Id)
                                    <button type="submit" id="module_Commands_@(o.Item.Id)__Name" name="module.Commands[@o.Item.Id].Name" value="Delete">Del x</button>
                                    <button type="submit" name="___Commands[@o.Index].Name" value="Delete">Delete Item</button>
                                    <button type="submit" id="z__Commands_@(o.Index)__Name" name="___Commands[@o.Index].Name" value="Delete">Del</button>
                                    <button type="submit" id="z__Command_@(o.Index)__Name" name="___Command[@o.Index].Name" value="Delete">Del</button>
                                    <button type="submit" id="z__Commands_@(o.Index)_" name="___Commands[@o.Index].Name" value="Delete">Delx</button>
                                    <input type="submit" value="Delete" />
                                    <button name="Items[@o.Index].Delete" type="submit" value="DeleteAlt1B">DeleteAlt1</button>
                                    <button name="Delete[@o.Index]" type="submit" value="DeleteAlt2B">DeleteAlt2</button>
                                    <input type="submit" name="Delete2[@o.Index]" value="Delete" />
                                *@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.HiddenFor(m => m.ListPageIndex)
            @Component.Invoke("ModuleState", this, Module)
        </div>
    </form>
</div>

@*
    @helper ColumnHeader(string headerText, string column)
    {
        var sort = Model.ListSortOrder.Split(' ');
        var isCurrent = (column == sort[0]);
        var currentDir = sort.ElementAtOrDefault(1) ?? "asc";
        var nextDir = isCurrent ? (currentDir == "asc" ? "desc" : "asc") : "asc";
        var sortDirective = column + " " + nextDir;
        <button type="submit" class="btn btn-sm @(isCurrent ? "active" : "")" asp-command="Sort" asp-command-args="@sortDirective">
            <strong> @headerText </strong>
            @if (isCurrent)
            {
                <span class="glyphicon @(currentDir == "asc" ? "glyphicon-triangle-top" : "glyphicon-triangle-bottom")" aria-hidden="true"></span>
            }
        </button>
    }
*@
@*@using (Html.BeginForm("/Ajax/Load/MyListModule"))
    {
    }*@
