﻿@using App
@using MSharp.Framework

<div class="navbar" role="navigation">
    <ul class="nav nav-pills nav-stacked">
        @using (var link = Link.To("~/Pages-and-Menus/Dynamic-Items/All-Options"))
        {
            <li class="@("active".If(link.IsActive))">
                <a href="@link.Url">All Options</a>
            </li>
        }
        @foreach (var item in Database.GetList<App.OptionSet2>())
        {
            var link = Link.To($"~/Pages-and-Menus/Dynamic-Items/Option?id={item.ID}");
            <li class="@("active".If(link.IsActive))">
                <a href="@link.Url">@item.Name</a>
            </li>
        }
        @using (var link = Link.To("~/Pages-and-Menus/Dynamic-Items/No-Options", new { id = 123 }))
        {
            <li class="@("active".If(link.IsActive))">
                <a href="@link.Url">No Options</a>
            </li>
        }
    </ul>
</div>
