﻿@{
    var hasSideMenu = IsSectionDefined("sidemenu");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Model Lab Rat</title>
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    @*<link rel="stylesheet" href="~/css/main.css" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body asp-role="document-body">
    @await Component.InvokeAsync("Banner")
    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                @if (IsSectionDefined("submenu"))
                {
                    @RenderSection("submenu", required: false)
                }
            </div>
        </div>
        <div class="row">
            @if (hasSideMenu)
            {
                <div class="col-md-3">
                    @RenderSection("sidemenu", required: false)
                </div>
            }
            <div class="@Html.CssToggle(hasSideMenu, "col-md-9", "col-md-12")">
                @RenderBody()
            </div>
        </div>
        @await Component.InvokeAsync("Footer")
    </div>
    <script src="~/lib/requirejs/require.js" data-main="/js/main.js"></script>
    @*
        <script src="~/lib/requirejs/require.js"></script>
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/lodash/lodash.min.js"></script>
        <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
        <script src="~/lib/msharp/services/WebApiService.js"></script>
        <script src="~/lib/msharp/services/AjaxService.js"></script>
        <script src="~/js/app.js"></script>
    *@
    @RenderSection("scripts", required: false)
</body>
</html>