﻿@using App
@using MSharp.Framework

<div class="navbar" role="navigation">
    <ul class="nav nav-pills nav-stacked">
        @using (var link = Link.To("Default", "MultipleForms", "SeparateFeatures"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Multiple Forms</a>
            </li>
        }
        @using (var link = Link.To("Default", "MultipleLists", "SeparateFeatures"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Multiple Lists</a>
            </li>
        }
        @using (var link = Link.To("Default", "RenderModeList", "SeparateFeatures"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Render Mode: List</a>
            </li>
        }
        @using (var link = Link.To("Default", "ModalsAndAlerts", "SeparateFeatures"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Modals and Alerts</a>
            </li>
        }
        @using (var link = Link.To("Default", "TabsAndPanels", "SeparateFeatures"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Tabs and Panels</a>
            </li>
        }
    </ul>
</div>