﻿@model ListsViewModel<TertiaryRecord>
@using App
@using System
@using System.Linq
@using System.ComponentModel
@using Microsoft.Data.Entity.Metadata
@using MSharp.Framework.AspNet.Mvc
@Module.Init(this)

<div id="@Module.Id" data-module="@Module.Name" asp-role="module-container">
    <div asp-role="grid-wrapper">
        <table asp-role="grid">
            <thead>
                <tr>
                    <th>
                        <button type="submit" class="btn btn-sm" asp-command="Sort" asp-command-args="TextField">
                            <strong>Title</strong>
                        </button>
                    </th>
                    <th>
                        @*@ColumnHeader("Date", "DateField")*@
                        <button type="submit" class="btn btn-sm" asp-command="Sort" asp-command-args="DateField">
                            <strong>Date</strong>
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        </button>
                    </th>
                    <th>IsActive</th>
                    <th>Editor</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var o in Model.WithIndex())
                {
                    <tr>
                        <td>
                            @o.Item.Title
                        </td>
                        <td>
                            @o.Item.Date.ToShortDateString()
                        </td>
                        <td>
                            @o.Item.IsActive
                        </td>
                        <td>
                            @Html.TextBoxFor(m => m.Items[o.Index].Title)
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger btn-sm" title="Delete item" asp-command="DeleteRowItem" asp-command-ref="@o.Item.ID">
                                <i class="fa fa-minus-circle"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
