@{
	
	ViewBag.Title = "SideItem1";
}

<div class="jumbotron">
	<h1>@ViewBag.Title</h1>
</div>

<div class="row">
	<div class="col-md-4">
		<h2>@Context.Request.Path.Value</h2>
		<p>Form start</p>
		@using (Html.BeginForm(FormMethod.Post))
		{
			<input type="submit" value="Postback" />
		}
		<p>Form end</p>
		@*@Html.ActionLink("Pages & Menus > DynamicItems > NoOptions", "Default", "NoOptions", new { Area = "PagesAndMenus/DynamicItems" });*@
		@*@Html.ActionLink("Pages & Menus > SubItem1 > SideItem2", "Default", "SubItem1", new { Area = "PagesAndMenus" });*@
	</div>
</div>

@if (ViewBag.SubMenu != null)
{
    @section submenu{
        @await Component.InvokeAsync("Module", ViewBag.SubMenu, ViewBag.SubMenuArgs)
    }
}

@if (ViewBag.SideMenu != null)
{
    @section sidemenu{
        @await Component.InvokeAsync("Module", ViewBag.SideMenu, ViewBag.SideMenuArgs)
    }
}