@using App.Components
@using App.Models
@using MSharp.Framework
@using MSharp.Framework.AspNet
@using MSharp.Framework.AspNet.Mvc
@{
    ViewBag.Title = "Complex UI";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @{await Component.Module("NewListModule", new { Lorem = "ipsum" });}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("MyListModule", new ListViewOptions { PageSize = 3, Sort = "DateField" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("MyListModule", new ListViewOptions { PageSize = 3, Sort = "TextField" })
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @{
            var id = Database.FindWithMax<App.TertiaryRecord>(r => r.DateField)?.ID;
            await Component.RenderInvokeAsync("MyFormModule", id.ToString());
        }
    </div>
</div>