@using App.Components
@using App.Models
@using MSharp.Framework
@using MSharp.Framework.AspNet
@using MSharp.Framework.AspNet.Mvc
@{
    ViewBag.Title = "Complex UI";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.ModuleAsync("NewListModule", new { Lorem = "ipsum" })
        @*@Component.Module("NewListModule", new { Lorem = "ipsum" })*@
        @*@{await Component.ModuleRenderAsync("NewListModule", new { Lorem = "ipsum" });}*@
        @*@{Component.ModuleRender("NewListModule", new { Lorem = "ipsum" });}*@
        @*@Html.RenderModule("NewListModule", new { Lorem = "ipsum" })*@
    </div>
</div>
