﻿@using App.Models
@model MenuViewModel

<div class="navbar-collapse collapse">
	<ul class="nav navbar-nav">
		@foreach (var item in Model.Items)
		{
			switch (item.Type)
			{
				case MenuItemType.Navigation:
					<li><a id="@item.Name" asp-action="@item.Action" asp-controller="@item.Controller" asp-route-area="@item.Area">@item.Text</a></li>
					@*<li>@Html.ActionLink(item.Text, item.Action, item.Controller, new { item.Area }, new { id = item.Name })</li>*@
					break;

				case MenuItemType.HttpAction:
					<li>
						<form asp-action="@item.Action" asp-controller="@item.Controller" asp-route-area="@item.Area">
							<input type="hidden" name="action" value="@item.Action" />
							<input type="submit" value="@item.Text" />
						</form>
					</li>
					@*<li>
							@using (Html.BeginForm(item.Action, item.Controller, new { item.Area, item, abc = 123 }, FormMethod.Post, new { id = item.Name }))
							{
								<input type="hidden" name="action" value="@item.Action" />
								<input type="submit" value="@item.Text" />
							}
						</li>*@
					break;

				case MenuItemType.AjaxAction:
					<li><a id="@item.Name" onclick="alert('todo: ajax')" href="javascript:0">@item.Text</a></li>
					break;

				case MenuItemType.JavaScript:
					<li><a id="@item.Name" onclick="alert('todo: javascript')">@item.Text</a></li>
					break;

				case MenuItemType.ParentItem:
					<li><a id="@item.Name" onclick="alert('todo: javascript')">@item.Text</a></li>
					break;

				case MenuItemType.Divider:
					<li role="presentation" class="divider"></li>
					break;
			}
		}
	</ul>
	<a asp-action="Contact" asp-controller="Home">Abc123</a>
	@*@Html.*@
	@*@await Html.PartialAsync("_LoginPartial")*@
</div>