﻿@using App
@using MSharp.Framework

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @using (var link = Link.To("Default", "PagesAndMenus", "PagesAndMenus"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Pages & Menus</a>
            </li>
        }
        @using (var link = Link.To("Default", "ComplexUI", "ComplexUI"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Complex UI</a>
            </li>
        }
        @using (var link = Link.To("Default", "SeparateFeatures", "SeparateFeatures"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Separate Features</a>
            </li>
        }
    </ul>
</div>