﻿<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Main template", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        @await Component.InvokeAsync("Module", "MainMenu", new { Lorem = "Ipsum", Dolor = 517 })
        @*@await Component.InvokeAsync("MainMenu", 1)*@
        @if (ViewBag.MainMenu != null && false)
        {
            await Component.InvokeAsync("Module", ViewBag.MainMenu, ViewBag.MainMenuArgs);
        }
    </div>
</div>