﻿@using App
@using MSharp.Framework

<div class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        @using (var link = Link.To("Default", "SubItem1", "PagesAndMenus"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Sub Item 1</a>
            </li>
        }
        @using (var link = Link.To("Default", "SubItem2", "PagesAndMenus"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Sub Item 2</a>
            </li>
        }
        @using (var link = Link.To("Default", "DynamicItems", "PagesAndMenus"))
        {
            <li class="@Html.CssIf(link.IsActive, "active")">
                <a href="@link.Url">Dynamic Items</a>
            </li>
        }
    </ul>
</div>